{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <section class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-6 m-auto bg-dark text-light p-5">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes déjà connecté(e) en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                    <div class="form-group">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Connexion
                    </button>
                </form>
                <div class="col-12 text-center text-light mt-4">
                    <a href="{{ path('app_register') }}" class="text-light">S'enregistrer</a> -
                    <a href="{{ path('app_login') }}" class="text-light"">Mot de passe perdu ?</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
