{% extends 'base.html.twig' %}

{% block title %}S'enregistrer - {{ parent() }}{% endblock %}

{% block body %}

    <section class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-6 m-auto bg-dark text-light p-5">
                <h1 class="h3 mb-4 font-weight-normal">Inscription</h1>
                {{ form_start(registrationForm) }}
                    {{ form_errors(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword.first) }}
                    {{ form_row(registrationForm.plainPassword.second) }}
                    {{ form_row(registrationForm.displayName) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
{% endblock %}
