{% extends 'base.html.twig' %}

{% block title %}Mot de pass oublié - {{ parent() }}{% endblock %}

{% block body %}

    <section class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-6 m-auto bg-dark text-light p-5">
                <h1 class="h3 mb-4 font-weight-normal">Réinitialisation du mot de passe</h1>
                {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword.first) }}
                {{ form_row(resetForm.plainPassword.second) }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Changer le mot de passe
                </button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </section>
{% endblock %}

