<!-- Add Media Modal -->
<div class="modal" tabindex="-1" role="dialog" id="addMediaModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ajouter un Image ou Une Vidéo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(formMedia) }}
            <div class="modal-body">
                {{ form_errors(formMedia) }}
                {{ form_row(formMedia.type) }}
            </div>
            <div class="modal-body" id="modal-add-image">
                <h5>Ajout d'une Image</h5>
                {{ form_row(formMedia.image) }}
            </div>
            <div class="modal-body" id="modal-add-video">
                <h5>Ajout d'une video</h5>
                {{ form_row(formMedia.content) }}
            </div>
            <div class="text-center">
                <hr />
            </div>
            <div class="modal-body">
                {{ form_row(formMedia.alt) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Ajouter</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
            {{ form_end(formMedia) }}
        </div>
    </div>
</div>