{# Item of trick list used in homepage #}
{# Trick trick #}
        <div class="col-sm-12 col-md-4 col-lg-3 mb-3 py-3 px-4 trick-item">
            <div class="trick-item-content">
                <div class="trick-image-container">
                    {% if trick.cover is not null %}
                        <a class="_cover_content_ _href_detail_route_ _title_name_" href="{{ path("trick_detail", {'slug' : trick.slug}) }}" title="{{ trick.name() }}" style="background-image:url('{{ asset("uploads/tricks/"~trick.cover.content) }}')">
                    </a>
                    {% else %}
                        <a class="_cover_content_ _href_detail_route_ _title_name_" href="{{ path("trick_detail", {'slug' : trick.slug}) }}" title="{{ trick.name() }}" style="background-image:url('{{ asset("uploads/tricks/figure1.jpg") }}')"></a>
                    {% endif %}
                </div>
                <div class="trick-infos p-3">
                    <a class="_href_detail_route_" href="{{ path("trick_detail", {'slug' : trick.slug}) }}"><span class="_name_">{{ trick.name }}</a>
                    {% if is_granted('ROLE_USER_VERIFIED') %}
                        <div class="trick-action-button">
                            <a class="btn btn-outline-dark _href_edit_route_" role="button" href="{{ path("trick_edit", {'slug' : trick.slug}) }}"><i class="fas fa-pen"></i></a>
                            {% if is_granted('TRICK_DELETE', trick) %}
                            <a class="btn btn-outline-danger _btn_delete_" role="button" data-toggle="modal" data-target="#deleteModal" data-id='{"value":"{{ path('trick_delete', {'slug' : trick.slug}) }}", "type":"href", "selector":".btn-delete"}'
                               data-title='{"type":"text", "selector":".modal-title"}'><i class="fas fa-trash"></i><span class="d-none text">Supprimer Trick : {{ trick.name }}?</span></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>