{% macro trickMedia(children) %}
    <div class="px-5 py-2 mx-auto bg-primary text-light mt-1 new-trick-media-form">

        <div class="form-media-type-select">
            {{ form_row(children.type) }}
        </div>
        <div class="form-add-image-fields">
            {{ form_row(children.image) }}
            {{ form_row(children.alt) }}
        </div>
        <div class="form-add-video-fields">
            {{ form_row(children.content) }}
        </div>
    </div>
{% endmacro %}

{% macro trickMediaPrototype (prototype, form) %}
    <div id="trick_trickMedia" data-prototype="{{ _self.trickMedia(prototype.children)|e('html_attr') }}">
    </div>
    {% for childForm in form.children %}
        {{ _self.trickMedia(childForm.children) }}
    {% endfor %}
{% endmacro %}