{% macro trickMedia(children) %}
    <div class="px-5 py-2 mx-auto bg-primary text-light mt-1 trick-media-form">
        {% for row in children %}
            <div class="form-group">
                {{ form_label(row) }}
                {{ form_widget(row) }}
                <div class="alert-danger">{{ form_errors(row) }}</div>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro trickMediaPrototype (type, prototype, form) %}
    <div id="trick_trickMedia{{ type }}" data-prototype="{{ _self.trickMedia(prototype.children)|e('html_attr') }}">
    </div>
    {% for childForm in form.children %}
        {{ _self.trickMedia(childForm.children) }}
    {% endfor %}
{% endmacro %}