{% extends "base.html.twig" %}

{% block title %}Mon Profil - {{ parent() }}{% endblock %}

{% block body %}
    <section class="container py-5">
        <div class="row justify-content-center">
            <div class="bg-dark text-light col-12 col-md-10 p-4">
                <div class="row">
                    <div class="col-12 text-center p-3">
                        <h1>Mon Profil</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="row justify-content-center mb-2 mb-md-0">
                            <div class="col-12 col-md-4 text-center text-md-right"><strong>E-mail :</strong></div>
                            <div class="col-12 col-md-8 text-center text-md-left">{{ user.email }}</div>
                        </div>
                        <div class="row justify-content-center mb-2 mb-md-0">
                            <div class="col-12 col-md-4 text-center text-md-right"><strong>Pseudo :</strong></div>
                            <div class="col-12 col-md-8 text-center text-md-left">{{ user.displayName }}</div>
                        </div>
                        <div class="row justify-content-center mb-2 mb-md-0">
                            <div class="col-12 col-md-4 text-center text-md-right"><strong>Statut :</strong></div>
                            <div class="col-12 col-md-8 text-center text-md-left">
                                {% if is_granted('ROLE_USER_VERIFIED') %}
                                    <span class="text-success">Compte activé</span>
                                {% elseif is_granted('ROLE_USER_') %}
                                    <span class="text-danger">Compte non activé</span><br /><a class="text-light btn btn-primary" href="{{ path('app_resend_verify') }}">Activer mon adresse email</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="row justify-content-center mb-2 mb-md-0">
                            <div class="col-12 col-md-4 text-center text-md-right"><strong>Pseudo :</strong></div>
                            <div class="col-12 col-md-8 text-center text-md-left">{{ user.displayName }}</div>
                        </div>
                        <div class="row justify-content-center mb-2 mb-md-0">
                            <div class="col-6 text-center">Upload photo de profil</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}