{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% import 'prototypes/trickMedia_prototype.html.twig' as formPrototype %}

{% block _trick_trickMedia_row %}
    {{ formPrototype.trickMediaPrototype(prototype, form) }}
{% endblock %}

{% block title %}Trick Name - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body trick-add">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">

                    </div>
                    <h1>Ajout d'un nouveau Trick</h1>
                </div>
            </section>
        </div>
        {{ form_start(form,  {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="container pt-5">
            <div class="row pb-5">
                <div class="col-11 px-5 py-2 mx-auto bg-primary text-light">
                    <div class="text-center"><h2>Description du Trick</h2></div>
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.trickGroup) }}
                </div>
                <div class="col-11 px-5 py-2 mx-auto bg-primary text-light mt-4 border border-dark">
                    <div class="text-center"><h2>{{ form_label(form.cover) }}</h2></div>
                    {{ form_row(form.cover.image) }}
                    {{ form_row(form.cover.alt) }}
                    {{ form_row(form.cover.type) }}
                </div>
                <div class="col-11 px-5 py-2 mx-auto bg-primary text-light mt-4">
                    <div class="text-center">
                        <h2>Medias supplémentaires</h2>
                    </div>
                    <a id="add_trickMedia" href="#" class="text-light">Ajouter un media</a>
                </div>
                <div id="additional_medias" class="col-11 p-0 mx-auto">
                    {{ form_row(form.trickMedia) }}
                </div>
                <div class="col-12 text-center p-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}