{% extends 'base.html.twig' %}

{% block title %}Trick Name - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">
                        <img src="{{ asset("uploads/tricks/figure1.jpg") }}" alt="figure1">
                        <div class="trick-action-button">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectTrickCoverModal"><i class="fas fa-pen"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-id='{"id":"1", "type":"val", "selector":"modal-form-id"}'
                                    data-name='{"value":"Media 1","selector":".modal-title"}'><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <h1>Trick 1</h1>
                </div>
            </section>
        </div>
        <div class="container pt-5">
            <div id="show-media-button" class="col-12 text-center d-block d-lg-none pb-5">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#media-list" aria-expanded="false" aria-controls="mediaList">
                    Voir les médias
                </button>
            </div>
            <section class="collapse" id="media-list">
                <div class="trick-media-list row d-flex justify-content-center pb-5">
                    {% for i in 1..5 %}
                        <div class="trick-media-item col-md-2 pb-sm-3 pb-md-0">
                            <div class="trick-media-item-content">
                                <img class="trick-media-cover" src="{{ asset("uploads/tricks/figure1.jpg") }}" alt=""/>
                                <div class="trick-action-button">
                                    <button class="btn btn-primary"><i class="fas fa-pen"></i></button>&nbsp;
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-title='{"value":"Supprimer Media {{ i }}","selector":".modal-title"}'
                                            data-id='{"value":"{{ i }}","type":"val","selector":".modal-form-id"}'><i class="fas fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="trick-media-item col-md-2 pb-sm-3 pb-md-0">
                        <div class="trick-media-item-content">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMediaModal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="trick-description row justify-content-center pb-5">
                <div class="col-sm-12 col-md-10">
                   {{ form_start(form) }}


                    <a href="#" id="add_trickMedia" class="btn btn-success">Ajouter un Media</a>
                    {{ form_end(form) }}
                </div>
            </section>

        </div>
    </div>
    {% include 'modals/delete.html.twig' %}
    {% include 'modals/addMedia.html.twig' %}
    {% include 'modals/selectTrickCover.html.twig' %}
{% endblock %}