{% extends 'base.html.twig' %}

{% block title %}Trick Name - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">
                        <img src="{{ asset("uploads/tricks/"~trick.cover.content) }}" alt="figure1">
                        <div class="trick-action-button">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectTrickCoverModal"><i class="fas fa-pen"></i></button>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-id='{"id":"1", "type":"val", "selector":"modal-form-id"}'
                                    data-name='{"value":"Media 1","selector":".modal-title"}'><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                    <h1>{{ trick.name }}</h1>
                </div>
            </section>
        </div>
        <div class="container pt-5">
            <div id="show-media-button" class="col-12 text-center d-block d-lg-none pb-5">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#media-list" aria-expanded="false" aria-controls="mediaList">
                    Voir les médias
                </button>
            </div>
            <section class="collapse" id="media-list">
                <div class="trick-media-list row d-flex justify-content-center pb-5">
                    {% for trickMedia in trick.trickMedia %}
                        <div class="trick-media-item col-md-2 pb-sm-3 mb-3">
                            {% if trickMedia.type == 1 %}
                                <a data-toggle="modal" data-target="#imageModal" data-src='{"value":"{{ asset("uploads/tricks/"~trickMedia.content) }}", "type":"src", "selector":".modal-image-img"}'
                                   data-alt='{"value":"{{ trickMedia.alt }}", "selector":".modal-image-img"}' href="{{ asset("uploads/tricks/"~trickMedia.content) }}" title="{{ trickMedia.alt }}"
                                   style="background-image: url('{{ asset("uploads/tricks/"~trickMedia.content) }}')">
                                </a>
                            {% elseif trickMedia.type == 2 %}
                                <a data-toggle="modal" data-target="#youtubeModal" data-src='{"value":"https://www.youtube.com/embed/{{ youtube.getId(trickMedia.content) }}", "type":"src", "selector":".modal-video-iframe"}'
                                   style="background-image: url('https://img.youtube.com/vi/{{ youtube.getId(trickMedia.content) }}/mqdefault.jpg')">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            {% endif %}
                            <div class="trick-action-button">
                                <button class="btn btn-primary"><i class="fas fa-pen"></i></button>&nbsp;
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-title='{"value":"Supprimer: {{ trickMedia.alt }} ?","selector":".modal-title"}'
                                        data-id='{"value":"{{ trickMedia.id }}","type":"value","selector":".modal-form-id"}'><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="trick-media-item col-md-2 pb-sm-3 pb-md-0">
                        <div class="trick-media-item-content">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMediaModal"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>
                </div>
            </section>
            {{ form_start(form) }}
            <section class="trick-description row pb-5">
                <div class="col-sm-12 offset-md-1 col-md-6">
                    <div class="form-group">
                        {{ form_widget(form.name,{'attr' : {'class': 'form-control'}}) }}
                        <div class="alert-danger">{{ form_errors(form.name) }}</div>
                    </div>
                </div>
                <div class="col-sm-12 offset-md-1 col-md-10">
                    <div class="form-group">
                        {{ form_widget(form.description,{'attr' : {'class': 'form-control'}}) }}
                        <div class="alert-danger">{{ form_errors(form.description) }}</div>
                    </div>
                </div>
                <div class="form-group col-sm-12 offset-md-1 col-md-6 col-lg-3">
                    <div class="form-group">
                        {{ form_widget(form.trickGroup,{'attr' : {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="text-right col-sm-11 col-md-4 col-lg-7">
                    <button type="button" class="btn btn-danger">Supprimer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>

            </section>
            {{ form_end(form) }}


        </div>
    </div>
    {% include 'modals/delete.html.twig' %}
    {% include 'modals/addMedia.html.twig' %}
    {% include 'modals/selectTrickCover.html.twig' %}
{% endblock %}