{% extends 'base.html.twig' %}

{% form_theme formCover _self %}

{% block _cover_cover_entry_help %}
    <img src="{{ asset("uploads/tricks/"~form.vars.label) }}" style="max-width: 100px; max-height: 100px" alt=""/>
{% endblock %}


{% block title %}Trick Name - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">
                        {% if trick.cover is not null %}
                            <img src="{{ asset("uploads/tricks/"~trick.cover.content) }}" alt="figure1">
                        {% else %}
                            <img src="{{ asset("build/images/figure1.jpg") }}" alt="figure1"/>
                        {% endif %}
                        <div class="trick-action-button">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#selectTrickCoverModal"><i class="fas fa-pen"></i></button>
                            {% if trick.cover is not null %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-title='{"value" : "Supprimer l&#39;image principale", "selector" : ".modal-title"}'
                                        data-link='{"value":"{{ path('cover_delete', { 'slug' : trick.slug}) }}", "type":"href", "selector":".btn-delete"}'
                                        data-name='{"value":"Media 1","selector":".modal-title"}'><i class="fas fa-trash"></i></button>{% endif %}
                        </div>
                    </div>
                    <h1><a class="text-light" href="{{ path('trick_detail', {'slug' : trick.slug}) }}">{{ trick.name }}</a></h1>
                </div>
            </section>
        </div>
        <div class="container pt-5">
            <div id="show-media-button" class="col-12 text-center d-block d-lg-none pb-5">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#media-list" aria-expanded="false" aria-controls="mediaList">
                    Voir les médias
                </button>
            </div>
            {{ form_start(form) }}
            <section class="collapse" id="media-list">
                <div class="trick-media-list row d-flex justify-content-center pb-5">
                    {% for media in form.trickMedia %}
                        <div class="trick-media-item col-md-2 pb-sm-3 mb-3">
                            {% if media.vars.data.type == 1 %}
                                <a style="background-image: url('{{ asset("uploads/tricks/"~media.vars.data.content) }}')"></a>
                            {% elseif media.vars.data.type == 2 %}
                                <a style="background-image: url('https://img.youtube.com/vi/{{ youtube.getId(media.vars.data.content) }}/mqdefault.jpg')">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            {% endif %}
                            <div class="small media-description" id="media-description__{{ media.vars.data.id }}">{{ media.vars.data.alt }}</div>
                            <div class="trick-action-button">
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMedia__{{ media.vars.data.id }}"><i class="fas fa-pen"></i></button>&nbsp;
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" data-title='{"value":"Supprimer: {{ media.vars.data.alt }} ?","selector":".modal-title"}'
                                        data-id='{"value":"{{ path('media_delete', {'id' : media.vars.data.id }) }}","type":"href","selector":".btn-delete"}'><i class="fas fa-trash"></i></button>
                            </div>
                            {% include 'modals/editMedia.html.twig' %}
                            {% if media.vars.valid != true %}
                                <span class="invalid-feedback d-block"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span>
                </span></span>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="trick-media-item col-md-2 pb-sm-3 pb-md-0">
                        <div class="trick-media-item-content">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMediaModal"><i class="fa fa-plus-circle"></i></button>
                            {% if formMedia.vars.valid != true %}
                                <span class="invalid-feedback d-block"><span class="d-block">
                    <span class="form-error-icon badge badge-danger text-uppercase">Erreur</span> <span class="form-error-message">Cliquez pour corriger</span>
                </span></span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            <section class="trick-description row pb-5">
                <div class="col-sm-12 offset-md-1 col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-sm-12 offset-md-1 col-md-10">
                    {{ form_row(form.description) }}
                </div>
                <div class="form-group col-sm-12 offset-md-1 col-md-6 col-lg-3">
                    {{ form_row(form.trickGroup) }}
                </div>
                <div class="text-center col-12">
                    {% if is_granted('TRICK_DELETE', trick) %}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-title='{"value":"Supprimer le trick ?","selector":".modal-title"}'
                            data-id='{"value":"{{ path('trick_delete', {'slug' : trick.slug }) }}","type":"href","selector":".btn-delete"}'>Supprimer</button>{% endif %}
                   <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
            </section>
            {{ form_end(form) }}


        </div>
    </div>
    {% include 'modals/delete.html.twig' %}
    {% include 'modals/addMedia.html.twig' %}
    {% include 'modals/selectTrickCover.html.twig' %}
{% endblock %}