{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="trick-body">
        <div class="container p-0 my-0">
            <section class="trick-name row">
                <div class="col-12">
                    <div class="trick-image">
                        {% if trick.cover is not null %}
                            <img src="{{ asset("uploads/tricks/"~trick.cover.content) }}" alt="figure1">
                        {% else %}
                            <img src="{{ asset("build/images/figure1.jpg") }}" alt="figure1"/>
                        {% endif %}
                        {% if is_granted('ROLE_USER_VERIFIED') %}
                            <div class="trick-action-button">
                                <a class="btn btn-primary" href="{{ path('trick_edit', {'slug' : trick.slug}) }}"><i class="fas fa-pen"></i></a>&nbsp;
                                {% if is_granted('TRICK_DELETE') %}
                                    <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#deleteModal" data-id='{"value":"{{ path('trick_delete', {'slug' : trick.slug}) }}", "type":"href", "selector":".btn-delete"}'
                                       data-title='{"value":"Supprimer Trick : {{ trick.name }}?", "selector":".modal-title"}'><i class="fas fa-trash"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <h1>{{ trick.name }}</h1>
                </div>
            </section>
        </div>
        <div class="container pt-5">
            <div id="show-media-button" class="col-12 text-center d-block d-lg-none pb-5">
                <button class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#media-list" aria-expanded="false" aria-controls="mediaList">
                    Voir les médias
                </button>
            </div>
            <section class="collapse" id="media-list">
                <div class="trick-media-list row d-flex justify-content-center pb-5">
                    {% for trickMedia in trick.trickMedia %}
                        <div class="trick-media-item col-md-2 pb-sm-3 mb-3">
                            {% if trickMedia.type == 1 %}
                                <a data-toggle="modal" data-target="#imageModal" data-src='{"value":"{{ asset("uploads/tricks/"~trickMedia.content) }}", "type":"src", "selector":".modal-image-img"}'
                                   data-alt='{"value":"{{ trickMedia.alt }}", "selector":".modal-image-img"}' href="{{ asset("uploads/tricks/"~trickMedia.content) }}" title="{{ trickMedia.alt }}"
                                   style="background-image: url('{{ asset("uploads/tricks/"~trickMedia.content) }}')">
                                </a>
                            {% elseif trickMedia.type == 2 %}
                                <a data-toggle="modal" data-target="#youtubeModal" data-src='{"value":"https://www.youtube.com/embed/{{ youtube.getId(trickMedia.content) }}", "type":"src", "selector":".modal-video-iframe"}'
                                   style="background-image: url('https://img.youtube.com/vi/{{ youtube.getId(trickMedia.content) }}/mqdefault.jpg')">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            <section class="trick-description row justify-content-center pb-5">
                <div class="col-sm-12 col-md-10">
                    <h2 class="text-center mb-3">Description</h2>
                    <p>{{ trick.description }}</p>
                </div>
            </section>
            <section class="row trick-meta d-flex justify-content-center pb-3">
                <div class="col-sm-12 col-lg-9">
                    <ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item trick-date-created" title="Article crée le"><i class="fas fa-calendar"></i> {{ trick.createdAt.format('d/m/Y H:i') }}</li>
                        <li class="list-inline-item trick-group" title="Type de trick"><i class="fas fa-layer-group"></i> {{ trick.trickGroup.name }}</li>
                        <li class="list-inline-item trick-date-modified" title="Article modifié le"><i class="fas fa-edit"></i> {{ trick.updatedAt.format('d/m/Y H:i') }}</li>
                        {% if trick.contributors.count %}
                            <li class="list-inline-item trick-date-modified" title="Utilisateurs ayant contribué à cet article:
    {% for contributor in trick.contributors %}
    {{ contributor.displayName }}
    {% endfor %}">
                                <i class="fas fa-user"></i> {{ trick.contributors.count }}</li>
                        {% endif %}
                    </ul>
                </div>
            </section>
            <hr/>
            <section class="row justify-content-center py-3">
                <div class="col-sm-12 col-md-6">
                    {% if is_granted('ROLE_USER_VERIFIED') %}
                        {{ form_start(commentForm) }}
                        {{ form_row(commentForm.content) }}
                        <div class="form-group text-center">
                            <button class="btn btn-lg btn-primary" type="submit">
                                Laisser un commentaire
                            </button>
                        </div>
                        {{ form_end(commentForm) }}
                    {% elseif is_granted('ROLE_USER') %}
                        <p class="text-center">Veuillez activer votre compte pour ecrire un nouveau commentaire</p>
                    {% else %}
                        <p class="text-center">Veuillez vous inscrire pour ecrire un nouveau commentaire</p>
                    {% endif %}
                </div>
            </section>
            <hr/>
            <section class="row justify-content-center pb-5 comments-list">
                <div class="col-sm-12 col-md-9 col-lg-6">
                    {% if trick.comments.count %}<h2 class="text-center mb-4">Commentaires</h2>{% endif %}
                    <div id="comments-list-container">
                        {% for comment in trick.comments({'maxResults' : 5}) %}
                            <div class="comment-item row">
                                <div class="user-photo d-inline-block p-2 col-2">
                                    <div>
                                        {% if comment.user.photo %}
                                            <img src="{{ asset("uploads/profiles/"~comment.user.photo) }}" class="_photo_" alt=""/>
                                        {% else %}
                                            <img src="{{ asset("build/images/user-icon-image-18.jpg") }}" class="_photo_" alt=""/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="comment d-inline-block p-2 col-10">
                                    <div class="comment-meta small text-muted">
                                        Message de <span class="_displayName_">{{ comment.user.displayName }}</span> le <span class="_createdAt_">{{ comment.createdAt.format('d/m/Y à H:i') }}</span>
                                    </div>
                                    <div class="comment-content _content_">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
            {% if trick.comments.count > 5 %}
                <div class="row">
                    <div class="col-12 text-center pb-5">
                        <button id="loadmorecomment" class="btn btn-primary" data-jsonroute="{{ path('load_more_comments', {'slug' : trick.slug}) }}">Voir plus...</button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'modals/delete.html.twig' %}
    {% include 'modals/viewImage.html.twig' %}
    {% include 'modals/viewYoutubeVideo.html.twig' %}
{% endblock %}